* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "roboto" sans-serif;
}
body {
  background-image: url(../image/image_noel.avif);
}

#accueil {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
#accueil1 {
  display: flex;
  justify-content: space-evenly;
}
.tata {
  background-color: beige;
  border: 2px solid beige;
  width: 300px;
  height: 200px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}
.titi {
  margin-left: 180px;
}
.popo {
  height: 200px;
  width: 300px;
}

.toto {
  background-color: beige;
  border-radius: 8px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
  margin: 40px;
  margin-right: 60px;
}
a {
  background-color: green;
  color: white;
  border: 2px solid green;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
}
img {
  width: 300px;
  height: auto;
  border-radius: 8px;
}
h1 {
  color: rgb(230, 1, 0);
}

/* STYLE NAVBAR */

header {
  background-color: antiquewhite;
}

/* disposition logo & boutons */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0px 40px;
  padding: 10px;
  height: 120px;

  font-size: larger;
}

/* taille image */

#logonomecole {
  display: flex;
  align-items: center;
}

#logonomecole > img {
  width: 80px;
  height: 70px;
  margin-right: 20px;
}

/* espacement boutons & display */

#boutons {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

/* STYLE FOOTER */

footer {
  background-color: antiquewhite;
}

#contenufooter {
  margin: 0px 40px;
  padding: 10px;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
