#button-group {
  position: fixed;
  top: 150px;
  right: -170px;
  z-index: 99;
  width: 200px;
  padding: 10px 18px;
  background-color: #e36a3d;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 1) 0 0 0 0;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  word-break: break-all;
  text-decoration: none;
  color: #ece7e2;
  transition: all 0.2s ease;
  animation: pulse 1.5s linear infinite;
}

#button-group:hover {
  right: -20px;
  animation: none;
}

@keyframes pulse {
  0% {
    box-shadow: rgba(0, 0, 0, 0.7) 0 0 0 0;
  }

  70% {
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 10px;
  }

  100% {
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
  }
}
