* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

*:focus {
  outline: 4px dashed #e36a3d;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-color: #212e40;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  word-break: break-all;
  color: #e36a3d;
}

h2 {
  font-size: 2.3rem;
  font-weight: 300;
  word-break: break-all;
  color: #ffffff;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

a {
  font-size: 2rem;
  font-weight: 300;
  word-break: break-all;
  text-decoration: none;
  background-color: #e36a3d;
  color: #ece7e2;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px, rgba(0, 0, 0, 0.1) 12px 0px 18px;
  padding: 1.3rem 1.8rem;
  transition: 0.2s all ease;
}
a:hover {
  transform: scale(1.2);
}
