/* .roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}*/ 

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

    font-family: "Roboto", sans-serif; 
}


/* STYLE NAVBAR */

    header{
        background-color: antiquewhite;
    }

        /**** disposition logo & boutons ****/

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center; 


        margin: 0px 40px; 
        padding: 10px;
        height: 120px;

        font-size: larger;
    }

        /**** taille image ****/

    #logonomecole {
        display: flex;
        align-items: center;
    }

    #logonomecole > img {
        width: 80px;
        height: 70px;
        margin-right: 20px;
    }

        /**** espacement boutons & display ****/

    #boutons{
        display: flex;
        justify-content: space-between;
        gap : 100px;
    }


/* STYLE FOOTER */

 footer{
        background-color: antiquewhite;
        
    }

#contenufooter{
    
        margin: 0px 40px; 
        padding: 10px;
        height: 120px;

        display: flex;
        align-items: center;
        justify-content: space-between;
}



/* MAIN */

    /**** margin, padding GENERAL (hors banniere) ****/
section, #googlemaps{
    margin: 0px 40px; 
    padding: 10px;
}

    /**** taille banniere ****/
#banniere, img{
    width: 100%;
    height: 300px;
}

    /**** display : elements côte à côte ****/
#contenuecole, #contenuclasse, #contenuasso {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}
#googlemaps{
    display: flex;
    margin-bottom: 50px;
}
#lienscontenuecole{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15%;
}

    /**** largeur globale titres + textes ****/
.texteclasse, #texteecole, .texteasso{
    width: 800px;
}

.texteclasse{
    margin-right: 50px;
}

.texteasso, #infosecole{
    margin-left: 50px;
}



    /**** aérer le texte avec margin top & bottom ****/
h2, p {
    margin: 15px 0px;
}

    /**** centrer éléments axe secondaire ****/
#contenuecole{
    align-items: center;
}

     /**** taille images ****/
#contenuassoimg, #contenuclasseimg {
    width: 600px;
    height: 300px;
}