*{
   padding: 0;
   margin:0;
   box-sizing: border-box;
}

body{
   background-color:#f2e8cf;
}
#first-div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
width: 100%;
height: 450px;
border: 1px solid black;
margin: 40px;
padding: 20px;

}  

#image-back{
  max-width: 430px;
  max-height:350px;
}
#ligne-element{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
border:none;}
#button{
   display: flex;
   flex-direction: row;
   border: none ;
    justify-content: center;
    align-content: center;
    position: relative;
right: -280px;
}
#lien:hover{
   scale: calc(150%);
   text-decoration: underline rgba(255, 255, 255, 0.879);
}

#lien{
   
    display: flex;
border: 0px none black;
text-decoration: none;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
font-size: 18px;
padding: 30px 50px;
margin: 20px;
border-radius: 5px;
background-color: rgb(172, 47, 47);
}

#return{
display: flex;
border: none ;
background-color: #b09244;
color: brown;
justify-content: center;
width:150px;
padding: 20px;
border-radius: 10px;
margin: 15px;
font-size: medium;
text-decoration: none;
position: fixed;
bottom:0;
right: 2px;
}

#return:hover{
   text-decoration:underline;
   text-decoration-color: rgba(255, 255, 255, 0.879);
}
#titre-ecole{
display: flex;
flex-direction:row;
width: 100%;
justify-content: center;
}

#ligne-card{
   display: flex;
   flex-direction: row;
   text-align: space-between;
   border:1px solid;
}

#img-jouet{
width: 250px;
height: 250px;
}

#paragraphe{
   border: 1px solid black;
   display: flex;
   flex-direction:row;
   width:200px;
   height:200px;
}

#en-tete {
  background-image: url("addimage/note-thanun-CYlPykF-qAM-unsplash.jpg");
  width: 100%;
  margin: 200px;
  border-radius: 15px green;
  border: 10px solid red;
}

#titre-en-tete {
  color: bisque;
  text-decoration: underline 5px;
  font-size: 30px;
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px 2px red, 0 0 1em green, 0 0 0.2em green;
}

#flexbox {
  text-align: center;
  height: 230px;
  width: 410px;
  padding: 0px;
  padding: 28px 14px 14px 14px;
  border: 20px;
  border: 5px solid darkred;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: green;
}

#titre-footer {
  color: bisque;
  text-shadow: 1px 1px 2px red, 0 0 1em green, 0 0 0.2em green;
  text-decoration: underline;
  margin: 2px;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 100px;
  font-style: normal;
  align-content: flex-start;
  flex-direction: column;
}

#title-3 {
  display: flex;
  justify-content: end;
  font-family: sans-serif;
  font-weight: 100px;
  font-style: normal;
  height: 800px;
}

img {
  border: 0px;
  border-radius: 20px;
  margin-top: 50px;
  max-width: 100%;
}

#flex-direction {
  display: flex;
  height: 100px;
  width: 80xpx;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}


